/* CUSTOMIZE STYLE
-------------------------------------------------- */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  color: #9a5a5a;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  color: #225a1a;
}

p {
  margin-right: .75rem;
  margin-left: .75rem;
}

ul {
  margin-bottom: 4rem;
  background: #aabbaa;
}

ul > li {
  bottom: 3rem;
  background: #aabbcc;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/*
img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
*/
